body {
  margin: 0;
  background: lightgray;
  display: block;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

h1,h3 {
  text-align: center;
}


.container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
  gap: 1em;
  padding: 1em;
  border-radius: 8px;
  position: relative; /* Required for the pseudo-element positioning */
}

.button-container {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
}

.test-script-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1em; /* Adjust the gap as needed */
}

.file-upload {
  align-items: center;
  align-self: center;
}

.select-spacing {
  margin-top: 0.5em; /* Adjust the top margin as needed */
  margin-left: 1em; /* Increase the left margin as needed */
  width: 200px; /* Adjust the width as needed */
}

.run-button{
  margin: 1em;
  align-items: center;
  align-self: center;
  background-color: #0e8d0a;
}

.status-bar,
.run-test {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 1em;
  border-radius: 8px;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

ul {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 8px 0;
  border: 1px solid black;
  gap: 1px;
  background-color: black;
  border-radius: 8px;
  overflow: auto;
}

li {
  background-color: white;
  padding: 8px;
}

li:hover {
  background: #dadbf9;
}

a {
  font-weight: 800;
  text-decoration: none;
}